/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&display=swap');

/*Asterisk wildcard selector to override default styles added by browsers*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles for header, main, and footer */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color:#3a3a3a;
    font-family: "Simonetta", "Lato", Arial, sans-serif;
    font-weight: 400;

}

/* Header Section*/
header {
    background-color: lightcoral;
}

/* Main Section */
main {
    background-color: lightskyblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer Section */
footer {
    background-color: orange;
}