/*Asterisk wildcard selector to override default styles added by browsers*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles for header, main, and footer */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color:#3a3a3a;

}

/* Header Section*/
header {
    background-color: lightcoral;
}

/* Main Section */
main {
    background-color: lightskyblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer Section */
footer {
    background-color: orange;
}