/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&display=swap');

/*Asterisk wildcard selector to override default styles added by browsers*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles for header, main, and footer */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color:#3a3a3a;
    font-family: 'Lato', sans-serif;

}

h1, h2, h3 {
    font-family: "Simonetta", serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#252525
}

.hidden-heading {
    display: none;
}

/* Header Section*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position:fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/*Navbar toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Section */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 40px;
}

/* Hero Section */

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp ") no-repeat center/cover;
    position: relative;
}

#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons > h2 {
    font-size: 280%;
    margin-bottom: 20px;
    text-align: center;
}

/* Benefits Section */

#benefits p {
    text-align: left;
    padding: 0 20px;
}

#benefits hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#feel-healthy, #feel-strong, #feel-free, #get-social {
    margin-bottom: 20px;
}

#circle-cover-bg {
    background: url("../images/reasons-image.webp") no-repeat top center / cover;
    width: 90vw;
    height: 90vh;
    margin-bottom: 20px;
    /* makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#benefits-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent*/  
    background-color: rgba(241, 109, 107, .7); 
    font-size: 130%;
    position: absolute;
    bottom: 3rem;
    width: 80%;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
}

/* Times Section */

#times {
    background: url("../images/dublin-city.webp") no-repeat center / cover;
    display: flex;
    flex-wrap: wrap;
}

#times h3 {
    /*Override the heading colour set in general style*/
    color: #fafafa;
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding:15px;
    text-align: center;
    flex: 1 0 200px; 
    /*Creates a grid of meetup time dives over the background image*/
    border: 2px solid #fafafa;
}

#photos img {
    width: 100%;
    /*If there is a wrong path in the images the source alt text will appear*/
    line-height: 1em;
}

#photos {
    /* div's line height was changed because there was space between images */
    line-height: 0;
}


/* Footer Section */

#social-networks {
    text-align: center;
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/*Media Queries for mobile phones and landscape mode*/
@media (min-width:576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}


/* Media Queries for larger screens */

/* Header */
@media (min-width:768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }    

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*Main Content*/

    /*Push main content down to avoid being hidden behind fixed header*/
    main {
        margin-top: 76px;
    }

    #cover-text {
        width: 300px;
        right: 50px;
    }

    /* Reason Section */
    #benefits-physical, 
    #benefits-mental {
        line-height: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #benefits-physical > div, 
    #benefits-mental > div{
        width: 75%;
    }

    #benefits-mental > div {
        text-align: end; 
        align-self: flex-end;
    }

    /*Gallery*/
    #photos {
        column-count: 3;
    }
}

@media (min-width:992px) {
    /* Header */
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    /*Gallery*/
    #photos {
        column-count: 4;
    }
}

@media (min-width:1200px) {
   /* Reasons Section */

    /* #reasons > h2 {
        text-align: center;
    }*/

    #benefits {
        display: flex;
        flex-direction: row;
    }

    #benefits > div {
        flex: 1;
    }

    #benefits-image {
        order:0;
    }

    #benefits-mental {
        order: 1;
    }

    #benefits-mental > div {
        align-self: flex-start;
    }
    
    #benefits-physical > div {
        align-self: flex-end;
    }
}

