/*Asterisk wildcard selector to override default styles added by browsers*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: lightcoral;
}

main {
    background-color: lightskyblue;
}

footer {
    background-color: orange;
}